#root {
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

.container-panel {
  padding: 40px;
  max-width: 1400px;
  margin: 0 auto;
}

.col-editor,
.col-preview {
  border: 1px solid #ccc;
  border-radius: 16px;
  background-color: #f9f9f9;
  padding: 24px;
}

.row {
  margin: 0;
}

.label_input {
  margin: 0px !important;
  font-size: 14px;
}

.button-form {
  width: 200px !important;
}

.img-logo {
  border-radius: 100%;
  max-width: 150px;
  margin-top: 10px;
}

.container-btn {
  gap: 16px;
}
.container-btn button {
  width: 100%;
}
